*{
    margin: 0;
    padding: 0;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #B794F4, #63B3ED);
}

.heading{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 100vw;
    max-width: 100%;
    /* border: 1px solid black; */
    margin-top: 3rem;
    color: #FFFFFF;
    font-size: 1.3rem;
}

main{
    width: 100vw;
    max-width: 100%;
    /* height: 100vh; */
    /* height: 100vh; */
    height: 800px;
    max-height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main-box{
    width: 60rem;
    height: 720px;
    /* border: 1px solid black; */
    margin-top: 3rem;
    /* margin-left: 16.7rem; */
    display: inline;
    justify-content: center;
    /* align-items: center; */
    border-radius: 60px;
    background-color: #ffffff;
}

.inner-heading{
    border-radius: 60px 60px 0 0;
    height: 70px;
    width: 60rem;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.3rem;
    color: #FFFFFF;
    background-color: #8B5CF6;
}

.inner-heading button{
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

.inner-heading i:hover {
    transform: scale(1.4);
    transition: 1s;
}

.outer-bar{
    height: 30px;
    width: 40rem;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-bottom: 11px;
    margin-top: 15px;
    background-color: #CBD5E1;
}

.inner-bar{
    height: 100%;
    width: 0%;   
    background-color: #22C55E;
    border-radius: 10px;
}

.mainbar{
    width: 60rem;
    height: 60px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.para{
    color: #1E293B;
    /* font-size: 1.5rem; */
    font-size: 15px;
    font-weight: 700;
}

.question{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
    width: 60rem;
    height: 80px;
    /* border: 1px solid black; */
    padding-top: 40px;
    font-size: 1.3rem;
    color: #1E293B;
    /* margin-top: 1rem; */
    word-spacing: 5px;
}

.options{
    /* margin-top: 1rem; */
    height: 490px;
    width: 60rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.optionA{
    display: flex;
    align-items: center;
    width: 50rem;
    height: 60px;
    border: 1px solid #CBD5E1;
    font-size: 1.4rem;
    word-spacing: 5px;
    padding-left: 20px;
    border-radius: 50px;
    color: #1F2937;
    margin-top: 2rem;
}

.optionA:hover{
    background-color: #EFF6FF;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-right: 20px;
    background-color: #EDE9FE;
}

.circle i{
    font-size: 1rem;
}

.nextbtn{
    width: 200px;
    height: 50px;
    background-color: #8B5CF6;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 50px;
    margin-top: 2.2rem;
    /* outline: none; */
    border: none;
}

.nextbtn:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #7C3AED;
    cursor: pointer;
}

.selected { 
    background-color: #BAE6FD 
}
